* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
#wrap {
  height: 100%;
  overflow: hidden;
}
#wrap .head {
  position: absolute;
  width: 100%;
  background: pink;
}
#wrap .head .logo img {
  width: 3.55555556rem;
}
